
.nav-menu{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 800;
   top: 30px;
   color: #fff;
   position: absolute;
  padding-left: 30px;
 }
   .nav-menu li {
     margin: 0;
    //  padding: 14px;
   }
   .nav-menu a {
     display: block;
     padding: 14px ;
     color:#fff;
     text-decoration: none;
   
   }
   .nav-menu a:hover {
  color: red;
  opacity: 0.6s;
  border-bottom: 1px solid black;
  
   }

   .header{
    text-align: left;
    padding: 10px;
    font-size:50px ;
    color:#fff;
    font-family: italic;
    font-weight: 800;
  }

  .card{
    width: 100%;
  }
  img{
    width: 100%;
  }

  .container {
    position: relative;
    width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
  filter: contrast(50%);
}
.text-overlay {
  color: #fff;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);

  flex-direction: row;
  align-items: flex-end;
  
  text-decoration: none;
  display: flex;
  position: relative;
  position: absolute;
  top: 250px; /* Change this to your desired position */
  left: 50px; /* Change this to your desired position */
  color:#fff; /* Change this to your desired text color */
  font-size: 36px; /* Change this to your desired font size */
  font-family: Arial, sans-serif; /* Change this to your desired font */
}

h2{
  font-size: 80px;
color: #f9eeee;
font-weight: 800;
font-family: italic;
transition: all 0.6s;
}
h2:hover{
  opacity: 6s;
  color: red;
  border-bottom: 1px solid black;
}

  
  .main1{
  padding: 10px;
   display: flex;
   justify-content: space-between;
  
}

.movie-card{
flex: 1;
margin: 10px;
padding: 20px;
border: 2px solid #ccc;
box-shadow:5px 5px 5px  #0F97DC;
box-sizing: border-box;
}
.movie-card h1{
  margin-top: 0;
  padding: 10px;
}
.movie-card a{
  display: block;
  margin-top: auto;
  text-align: right;
  color: red;
  padding-bottom: 10px;

}
.img1{
  position: relative;
 width: 100%;
  height: 500px;
  object-fit: cover;


}
.card-link{
  display: flex;
justify-content: right;
}
.content{
 gap: 10px;
  font-size: 30px;
  margin: 10px;
  display: inline-block;
}
.synopsis{
  font-size: 19px;
  line-height: 1.5;
}
h3{
  background-color:#fff;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding: 40px;
color: #a9a5a5;
font-weight: 800;
font-family: italic;

}
.card{
  display: flex;
  grid-template-columns:  1fr 1fr;
  background-color: #fff;
  line-height: 1.5;
  gap: 20px;
}

h1{
  font-size: 20px;
  margin: 10px;
  transition: all 0.6s;
}
h1:hover{
  opacity: 6s;
 color: red;
}
.p{
  padding: 10px;
  font-size: 20px;display: inline-block;

}
.img2{
  position: relative;
object-fit: cover;
max-width: 100%;
height: 500px;
}
.divider{
  width: 100px;
  height: 1px;
  background-color: red;
}
.mob{
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
a{
  font-size: 20px;
  color: red;
  
}

  .info1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     padding-bottom: 120px;
     background-color: #333;
     padding: 30px; 
    width: 100%;
    object-fit: cover;
    }
    .p2{
      font-weight: 700;
      color:white;
      font-size: 50px;
      padding-left: 30px;
    padding: 30px;
    }
    .p1{
      font-size: 35px;
      color: #fff;
      padding:10px ;
      padding-left: 20px;
      font-weight: 700;
    }
    .button{
      padding: 20px;
      width: 380px;
      height: 60px;
      background-color: red;
      color: white;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.6s;
    }
    .button:hover{
      opacity: 6s;
      background-color: #333;
    }
    .img{
    height:300px;
    width: 100%;
    object-fit: cover;
    }


  .foto{
  
    object-fit: cover;
    width: 100%;
    height: 60%;
      }

.animated-button {
  padding: 0.75em 1.5em;

  border: 2px solid;
  font-size: larger;
  border-radius: 1.65em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s ease;
  color:  rgb(201, 219, 206);
  
}

.animated-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, rgb(54, 9, 2) 0%, rgb(135, 17, 4) 25%, rgb(247, 23, 3) 100%);
  z-index: -1;
  transition: opacity 240ms linear;
  opacity: 0;
}

.animated-button:hover::before {
  opacity: 1;
}

.animated-button::after {
  content: '';
  height: 150%;
  width: 0.25em;
  background-color: #f70404;
  box-shadow: 0px 0px 8px 4px  #f70404;
  transform: translateX(-1em);
}

.animated-button:hover::after {
  animation-duration: 300ms;
  animation-name: sweep;
}

@keyframes sweep {
  from { 
    transform: translateX(-1em)
  }
  to { 
    transform: translateX(12.5em);
    animation-timing-function: ease-out; 
  }
}

footer {
background-color: #333;
color: #fff;
padding: 20px ;

}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1226 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1226 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1226 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.snip1226 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.snip1226 a:before,
.snip1226 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1226 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.snip1226 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.snip1226 li:hover a,
.snip1226 .current a {
  transform: translateY(100%);
}

.footer-bottom {
margin-top: 20px;
border-top: 1px solid #ed0505;
padding-top: 10px;
background-color: #333;

}

.footer-bottom p {
margin:10px;
color: #d1cbcb;

}
.mainimg{
  width: 50px;
  height: 50px;
}




/* Media Queries for Mobile */
@media all and (max-width: 991px) {
  .nav-menu li{
    margin: -9999px;
 
  }
  .text-overlay {
    font-size: 24px;
    top: 130px;
    left: 70px;
  }

   h2{
    font-size: 30px;
   }
   h3{
    font-size: 30px;
   }
  
  .image{
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  .header {
    font-size: 30px;
    text-align: center;
  }

  .main1 {
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
  }
  .img1{
    width: 100%;
    height: 60%;
   top: 10px;
    padding: 10px;
  }
  .divider{
    position: relative;
    left: 30px;
    width: 290px;
    height: 1px;
  }
  .movie-card a{
    text-align: center;
  }
  .movie-card{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .mob{
    display: grid;
  }
  .content{
    display: flex;
    flex-direction: column;

    margin: 0;
  }
  .synopsis{
    display: flex;
    flex-direction: column;
   text-align: center;
   margin: 0;
  }
  h1.header{
    font-size: 50px;
   
   
  }
  .img2{
    width: 100%;
    height: 60%;
  }
  .card{

    flex-direction: column;
  }
  .info1{
  display:grid;
grid-template-columns: 1fr;
gap: 5px;

  }
  
  .p2{
    font-size: 20px;
    flex-direction: column;
    align-items: center;
  }
  .p1{
 
    font-size: 15px;
    font-weight: 10;
  }
  .button{
    width: auto;
    height: auto;
    border-radius: 50px;
    position: relative;
    left: 30px;
  }
  .img{
 
   width: 100%;
   height: auto;
  }
  .foto{
    width: 100%;
    height: auto;
  }

  .animated-button {
    width: 80%;
    font-size: 14px;
  }

  .snip1226 {
   display: grid;
   gap: 5px;
  }

  .snip1226 li {
    margin: 5px 0;
   
  }
  .mainimg{
    width: 50px;
    height: 50px;
  }
}
