@use'../../lib/service.scss' as s ;

.form{
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);
   
    
    &_title {
      font-size: 20px;  
      font-weight:bold;
     
      padding-bottom: s.space(1);
      border-bottom:1px solid s.color('ligth')

    }
    &_content{
      display: grid;
      gap:s.space(6)
    }
    &_field{
      display:flex;
      flex-direction: column;
      gap:s.space(2)
    }
    &_lable{
      font-size: 14px;
    }
    &_input{
      border:1px solid s.color('ligth');
      padding: s.space(2);
    }
    &_button{
      border:1px solid s.color('ligth');
      padding: s.space(2);
      border-radius: 16px;
    }
}
main{
  display: flex;
  flex-direction: column;
  gap: s.space(10)
}
.user-list{
  li{
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom:10px ;
  }
}