.nav-menu {
  width: 100%;
  height:auto;
     list-style: none;
     display: flex;flex-wrap: wrap;
     justify-content: left;
     gap: 10px;
     font-size: 20px;
   
    
 
   }
   .nav-menu li {
     margin: 0;
     padding: 14px;
   }
   .nav-menu a {
     display: block;
     padding: 14px ;
     color: rgb(249, 243, 243);
     text-decoration: none;
    //  font-size: 25px;
   }
   .nav-menu a:hover {
    // background-color:#e90404;
    // border-bottom: #060606;
    // color: black;
    // border-bottom:1px solid black ;
    // padding: 10px;
    opacity: 6s;
    color: red;
    border-bottom:1px solid black ;
  }
  
   .header{
  
    text-align: left;
    padding: 10px;
    font-size:50px ;
    color: rgb(239, 233, 233);
    font-family: italic;
    font-weight: 800;
    transition: all 0.6s;
  }
  .header:hover{
    opacity: 6s;
    color: red;
    border-bottom:1px solid black ;
  }
 //======================================== 
 .card{
  width: 100%;
}
img{
  width: 100%;
} 
//=============================================
.container {
  position: relative;
  width: 100%;
}
.image {
display: block;
width: 100%;
height: 80%;
object-fit: cover;
filter:contrast(50%);
}
//===============================================


//===================================================
.text-overlay {

// text-align: left;
background-color: rgba(0, 0, 0, 0);
flex-direction: row;
align-items: flex-end;
text-decoration: none;
display: flex;
justify-content: center;
// position: relative;
position: absolute;
top: 250px; /* Change this to your desired position */
left: 150px; /* Change this to your desired position */
color:#fff; /* Change this to your desired text color */
font-size: 36px; /* Change this to your desired font size */
font-family: Arial, sans-serif; /* Change this to your desired font */
}
//=============================================
.nav-menu{
  font-weight: 800;
   top: 30px;
   position: absolute;
  padding-left: 30px;
 }
 h2{
  display: flex;
justify-content: center;
  font-size: 80px;
  text-decoration: none;
color: white;
font-weight: 800;
font-family: italic;
transition: all 0.6s;
}
h2:hover{
  opacity: 6s;
  color: red;
}
//=================================================
.card{
padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.card-body{
  font-size: 25px;
  padding: 20px;
  line-height: 1.5;
  font-family: italic;
  margin-top: 20px;
}
.card-info{
  display: flex;
  padding: 10px;
  gap: 130px;
  justify-content: center;

}
h1{
  font-size: 30px;
  font-weight: 800;
  padding: 10px;
}
.p{
  font-size: 30px;
}
button{
  border:1px solid #ed0505;
  padding: 20px;
  width: 380px;
  background-color: #fc0202;
  display: flex;
  justify-content: center;
  transition: all 0.6s;
}
.button:hover{
  opacity:6s ;
  background-color: #333;
}
a{
  text-decoration: none;
  color:rgb(8, 0, 0)
}

//==================================================
.info-row{
  display: flex;
  justify-content: center;
grid-template-columns: 1fr 1fr;
padding-left: 20px;
padding: 20px;
}
.info{
  border: 12px solid rgb(246, 246, 246);
  margin: 30px;
  padding: 30px;
  width: 650px;
  height: auto;
  background-color:#fff;
  line-height: 1.5;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  border: 2px solid #ccc;
  box-shadow:5px 5px 5px  #b5def3;
}
h3{
  margin-bottom: 10px;
  font-size: 40px;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
}
.h3-divider{
  width: 190px;
  height: 2px;
  background-color: red;
 
}

.p1{
  font-size: 20px;
  line-height: 1.5;
}
//====================================================
.info1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
 gap: 10px;
   background-color: #333;
   padding: 30px; 
  }
  .h4{font-weight: 700;
    color:white;
    font-size: 50px;
    padding-left: 30px;
  padding: 30px;
}
.p2{
  font-size: 35px;
  color: #fff;
  padding:10px ;
  padding-left: 20px;
  font-weight: 700;
}
//====================================================
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.card1 {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  border: 2px solid #ccc;
  box-shadow:5px 5px 5px  #b5def3;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.card-content p {
  flex-grow: 1;
}

.card-link {
  display: block;
  margin-top: 10px;
  text-align: right;
  color: #f40202;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}
.p4{
  line-height: 1.5;
}

//==================================================

.card-container1 {
display:flex;
}

.card2 {
display: grid;
grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
 margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  padding: 10px;
  gap: 20px;
  border: 2px solid #ccc;
  box-shadow:5px 5px 5px  #b5def3;

 
}

.card-img {
  margin: content-box;
  overflow: clip;
 
}

h4{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.p3{
  font-weight: 300;
  font-size: 20px;
  font-family:italic ;
  line-height: 1.5;
  color: #333;
}
.koll{
  font-size: 20px;
  color: red;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.6s;
}
.koll:hover{
  opacity: 6s;
  color: #9a1b0f;
}


.foto{
  // position: absolute;
  object-fit: cover;
  max-width: 100%;
  height: 60%;
    }
//===================================================
footer {
  background-color: #333;
  color: #fff;
  padding: 20px ;
  text-align: left;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1226 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1226 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1226 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.snip1226 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.snip1226 a:before,
.snip1226 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1226 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.snip1226 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.snip1226 li:hover a,
.snip1226 .current a {
  transform: translateY(100%);
}
/* Demo purposes only */




.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #ed0505;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
}
.mainimg{
  width: 50px;
  height: 50px;
}
//==================================================
@media all and (max-width: 991px) {
  body{
    max-width: 100%;
    position: relative;
  }
  .image{
    width: 100%;
    height: auto;
    object-fit: cover;
 filter: contrast(60%);
  }
  .nav-menu{
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }
 .nav-menu li{
    position: absolute;
  margin: -9999px;
  
      }
    
      .header {
        font-size: 50px;
        padding-left: 20px;
        color: rgb(246, 246, 246)
      }

 
      .text-overlay {
        font-size: 24px;
        top: 150px;
        left: 10px;
      }
    
  h2{font-size: 30px;}
   

 
  .card{
    grid-template-columns: 1fr;
  }
  .card-info{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .button{
    width: 80%;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    left: 25px;
 
  }
  .info-row{
    display: grid;
    grid-template-columns: 1fr;
  }
  .info{
    width: 80%;
  }
  .info1{
    display: grid;
    grid-template-columns: 1fr;
  }
  .card-container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .card1{
  width: 100%;
  }
  .card-container1{
    display: grid;
    grid-template-columns: 1fr;
  }
  .card2{
    display: grid;
    grid-template-columns: 1fr;
  }
  .foto{
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .h4{
    font-size: 30px;
    font-weight: 100;
  }
  .p2{
    font-size: 20px;
    font-weight: 100;
  }
  .mainimg{
    width: 50px;
    height: 50px;
   }
   .snip1226 {
display:grid;
   gap: 5px;
   }
}